In [5]:
%%capture --no-display
# Dependencies and Setup
import hvplot.pandas
import geopandas as gpd
import pandas as pd
import requests
import fiona
import matplotlib.pyplot as plt
import numpy as np
import requests
import seaborn as sns
import datetime as datetime
import time
from scipy.stats import linregress

# Import the API key
from api_keys import zipcode_api_key

In [6]:
#This block pulls information in from the zipcode api.
print("Welcome to Neighbor Search    ")
print("-----------------------------")

#Empty list to put json information into.
zipcode_data = []


headers = { 
  "apikey": zipcode_api_key}
#print(zipcode_api_key)

#This code can be used to get an input from the user to change the zipcode and radius.
zipcode = input("enter zip:")
radius = input("Enter radius of search:")

#These are the only parameters that can be placed into the api.
params = (
   ("code",zipcode),
   ("radius",radius),
   ("country","us"),
    ("unit", 'miles')
);

#Get the api and collect information.
response = requests.get('https://app.zipcodebase.com/api/v1/radius', headers=headers, params=params);
print(response.json())

try:
    response = requests.get('https://app.zipcodebase.com/api/v1/radius', headers=headers, params=params);
    response = response.json()
    
    #Parsing out JSON to save to a list of dictionaries.
    '''"results": [{'code': '30306', 
                'city': 'Atlanta', 
                'state': 'GA', 
                'city_en': None, 
                'state_en': None, 
                'distance': 0}
    '''
    response_list = response['results']
    for r in response_list:
        zipcode = r.get('code')
        city = r.get('city')
        state = r.get('state')
        distance = r.get('distance')
    
        zipcode_data.append({'Zipcode': zipcode,
                          "City": city, 
                          "State": state, 
                          "Distance from Origin": distance})

    #print(zipcode)
    

except:
    pass

Welcome to Neighbor Search
-----------------------------
enter zip:30303
Enter radius of search:15
{'query': {'code': '30303', 'unit': 'miles', 'radius': '15', 'country': 'us'}, 'results': [{'code': '30303', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0}, {'code': '30302', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30321', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30343', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30353', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30358', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30370', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30374', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30392', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30394', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.25}, {'code': '30334', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.27}, {'code': '31136', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.51}, {'code': '30312', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 0.73}, {'code': '30313', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 1.12}, {'code': '30308', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 1.53}, {'code': '30332', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 1.73}, {'code': '30314', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 2.12}, {'code': '30310', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 2.61}, {'code': '30363', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 2.73}, {'code': '30306', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 3.16}, {'code': '30309', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 3.17}, {'code': '30307', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 3.24}, {'code': '30315', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 3.31}, {'code': '30316', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 3.81}, {'code': '30318', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 4.01}, {'code': '30317', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 4.13}, {'code': '30330', 'city': 'Atlanta', 'state': None, 'city_en': None, 'state_en': None, 'distance': 4.28}, {'code': '30322', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 4.71}, {'code': '30324', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.09}, {'code': '30311', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.1}, {'code': '30344', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.39}, {'code': '30305', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.5}, {'code': '30030', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.52}, {'code': '30031', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.53}, {'code': '30036', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.53}, {'code': '30037', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.53}, {'code': '30354', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 5.87}, {'code': '30329', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 6.25}, {'code': '30326', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 6.84}, {'code': '30320', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 6.91}, {'code': '30304', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 7.01}, {'code': '30032', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 7.26}, {'code': '30033', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 7.4}, {'code': '30002', 'city': 'Avondale Estates', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 7.48}, {'code': '30327', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 7.82}, {'code': '30331', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 7.85}, {'code': '30079', 'city': 'Scottdale', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8}, {'code': '30301', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30325', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30348', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30355', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30357', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30361', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30364', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30368', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30369', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30371', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30375', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30377', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30378', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30380', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30384', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30385', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30388', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30396', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30398', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31106', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31107', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31126', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31131', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31139', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31150', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31156', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31192', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31193', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31195', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '31196', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.02}, {'code': '30288', 'city': 'Conley', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.52}, {'code': '30319', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.6}, {'code': '30337', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.66}, {'code': '30034', 'city': 'Decatur', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.96}, {'code': '30345', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 8.99}, {'code': '30342', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 9.13}, {'code': '30339', 'city': 'Atlanta', 'state': 'GA', 'city_en': None, 'state_en': None, 'distance': 9.25}]}

In [7]:
# Convert the zipcode data into a Pandas DataFrame
zipcode_data_df = pd.DataFrame.from_dict(zipcode_data)


# Show Record Count
zipcode_data_df.head(20)

   Zipcode     City State  Distance from Origin
0    30303  Atlanta    GA                  0.00
1    30302  Atlanta    GA                  0.25
2    30321  Atlanta    GA                  0.25
3    30343  Atlanta    GA                  0.25
4    30353  Atlanta    GA                  0.25
5    30358  Atlanta    GA                  0.25
6    30370  Atlanta    GA                  0.25
7    30374  Atlanta    GA                  0.25
8    30392  Atlanta    GA                  0.25
9    30394  Atlanta    GA                  0.25
10   30334  Atlanta    GA                  0.27
11   31136  Atlanta    GA                  0.51
12   30312  Atlanta    GA                  0.73
13   30313  Atlanta    GA                  1.12
14   30308  Atlanta    GA                  1.53
15   30332  Atlanta    GA                  1.73
16   30314  Atlanta    GA                  2.12
17   30310  Atlanta    GA                  2.61
18   30363  Atlanta    GA                  2.73
19   30306  Atlanta    GA                  3.16

In [9]:
# Export the City_Data into a csv
zipcode_data_df.to_csv("output-data/zipcodes.csv", index_label="Zipcode")

In [13]:
# Create a DataFrame for zipcodes

zipcodes_df = pd.DataFrame.from_dict(zipcode_data)
#schools_df = pd.DataFrame.from_dict(schools_in_area)

In [15]:
# Export the City_Data into a csv
#schools_df.to_csv("output_data/schools.csv") #index_label="zipcode")
zipcodes_df.to_csv("output-data/zipcodes.csv") #index_label="zipcode")

In [1]:
#!pip install wordcloud

In [ ]:
#from wordcloud import WordCloud

In [5]:
import pandas
df = pandas.read_csv('output-data/schools_rated-per-zipcode.csv')
df

,Unnamed: 0,zip,name,school-summary,type,level-codes,level,street,city,state,phone,county,lat,lon,district-name,district-id,rating,lat_lon,new rating
0,1,30303.0,Graduation Achievement Center Charter High School,Graduation Achievement Center Charter High Sch...,charter,h,"9,10,11,12",235 Peachtree St NW,Atlanta,GA,(844) 776-8678,Fulton,33.760502,-84.387169,State Charter Schools Provost Academy Georgia,250.0,NaN,"(33.760502, -84.387169)",NaN
1,2,30303.0,Wellspring Living,"Wellspring Living, a public school located in ...",public,"m,h","8,9,11",100 Edgewood Avenue Southeast,Atlanta,GA,(678) 246-9998,Fulton County,33.754742,-84.385574,Fulton County School District,73.0,NaN,"(33.754742, -84.385574)",NaN
2,3,30303.0,The Life School of Atlanta,"The Life School of Atlanta, a private school l...",private,h,"9,10,11,12",190 Pryor Street Southwest,Atlanta,GA,(404) 343-0064,Fulton County,33.749504,-84.392090,NaN,0.0,NaN,"(33.749504, -84.39209)",B-
3,5,30334.0,K12 International Academy,"K12 International Academy , a private school l...",private,"e,m,h","KG,1,2,3,4,5,6,7,8,9,10,11,12",205 Jesse Hill Jr. Drive SE,Atlanta,GA,(877) 512-7748,Fulton,33.749733,-84.385696,NaN,0.0,NaN,"(33.749733, -84.385696)",C+
4,6,30334.0,The Keystone School,"The Keystone School , a private school located...",private,"m,h","6,7,8,9,10,11,12",205 Jesse Hill Jr. Drive SE,Atlanta,GA,(800) 255-4937,Fulton,33.749733,-84.385696,NaN,0.0,NaN,"(33.749733, -84.385696)",A+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B
163,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C
164,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A-
165,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A+

In [8]:
df.count()

Unnamed: 0        167
zip                99
name               99
school-summary     99
type               99
level-codes        99
level              99
street             99
city               99
state              99
phone              98
county             99
lat                99
lon                99
district-name      37
district-id        99
rating             28
lat_lon            99
new rating         58
dtype: int64

In [ ]:
import mplcursors as mpc

In [ ]:
x_points = []
y_points = []
name = []
#multiple layers


#plot the cities polygons with no fill color
atl_map.plot(alpha=1,figsize=(10,10),column='name', legend=True, marker = "*")
#ax = atl_map.plot(ax=ax, column='name', legend=True)
for i in lat_lon:
    if i[0]>=33.87 or i[0]<=33.65:
        pass
    elif i[1]>=-84.29 or i[1]<-84.55:
        pass
    elif i[0]>=33.81 and i[1]>=-84.35:
        pass
    else:
        y_points.append(i[0])
        x_points.append(i[1])
    
schools = plt.scatter(x_points, y_points,c='black')
plt.title('Schools in the Atlanta Area')
plt.legend()
plt.grid()
mpc.cursor(hover=True)
plt.xlabel('longitude')
plt.ylabel('latitude')

print(len(x_points))
print(len(y_points))
plt.savefig("output-data/atlanta_schools.jpg")

plt.show()